*{
  font-family: Arial, Helvetica, sans-serif;
}

.App {
  text-align: center;
  margin: 0;
  padding: 0;
  width: 100%;
  background:white;
}
.nav{
  background: none;
  margin: 0;
width: 100%;
}

.nav>img{
  display: block;
  width: 20%;
  margin: auto;
}

button{
  background:skyblue;
  border: none;
  padding: 8px;
  color: white;
  border-radius: 5px;
}
button:hover{
  background: grey;
}

.footer{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer>img{
  width: 20%;
  
}

.footer>div{
  width: 20%;
}
a{
  color: lightblue;
}



@media screen and (max-width : 500px) {
  .nav>img{
    width: 40%;
  }
}