*{
  font-family: Courier, monospace;
}

.App {
  text-align: center;
  margin: 0;
  padding: 0;
  width: 100%;
  background: linear-gradient(black,purple);
}
.nav{
  background: none;
  margin: 0;
  padding: 10px;

}

.nav>h1{
color: lightblue;
background: none;
margin: 0;
padding: 0;
}

button{
  background:linear-gradient(blue,lightblue) ;
  border: none;
  padding: 8px;
  color: black;
}
button:hover{
  background: grey;
}
