.main{
width: 100%;
}

.search{
    margin: auto;
    margin-bottom :10px;;
width: 40%;
display: flex;
justify-content: space-around;
align-items: center;
}
.searchI{
    padding: 15px;
    border: grey solid 1px;
    border-radius: 5px;
    background: none;
    width: 70%;
}
.searchB{
    padding: 13px;
    border-radius: 5px;
}
.pop{
    width: 100%;
    display: flex;
    justify-content: space-around;
}
.movies{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    width: 70%;
    gap: 5px;
    margin: auto;
}
.sidebar{
    width: 20%;
    padding: 20px;
    background-color: skyblue;
    border-radius: 0px 30px 30px 0px;
}

label{
    color: aliceblue;
    font-weight: bold;
}


.main>h2{
    color: grey;
}

.filter2{
    margin-top: 10px;
}
.select{
    padding: 10px;
    background: none;
    border-radius: 10px;
    color: white;
    font-weight: bold;
    margin-top: 15px;
}
option{
    background: none;
    background-color: skyblue;
}

@media screen and (min-width : 500px) and (max-width:800px) {
.movies{
    grid-template-columns: repeat(2,1fr);
}
}

@media screen and (max-width : 500px){
    .movies{
        grid-template-columns: repeat(1,1fr);
    } 
    .search{
        width: 70%;
    }
    .pop{
        display: block;
    }
    .movies{
        margin-top:20px;
        width: 80%;
    }
    .sidebar{
        width:70% ;
        display: flex;
        justify-content: space-around;
    }
    .filter2{
        width: 40%;
    }
    .filter1{
        width:40%;
    }
}