.movie{
    width: 90%;
    border-radius: 10px;
    padding: 5px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.movie:hover{
    border: darkgray 2px solid;
}
.movie>h2{
 display: block;
 margin: auto;
color: lightblue;
}
.movie>h3{
    display: none;
}
.movie>p{
    color: lightblue;
}
.movie>img{
    width: 60%;
    border-radius: 10px;

}


.Modal{
    position: fixed;
    background:white;
    width: 85%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 999;
    border-radius: 15px;
    border: grey 1px solid;
    padding: 5px;
}

.Modal:hover{
    border: darkgray 2px solid;
}

.Modal>div{
    display: flex;
    position: relative;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.Modal>div>img{
width: 30%;
border-radius: 10px;
}

.Modal>div>div>p{
    display: block;
    text-align: left;
}





.close{
    background: red;
    color: white;
    position:absolute;
    right: 0;
    bottom: 0;
}
.close:hover{
background: grey;
}

.Modal>div>div{
    width: 50%;
}

.Modal>div>div>p{
    color: lightblue;
}

.rat{
    border-radius: 5px;
}


@media screen and (min-width : 500px) and (max-width:800px) {
    .Modal>div>img{
        width: 40%;
        border: 10px;
        } 
}

@media screen and (max-width : 500px){

    .movie>h3{
        display: block;
        margin: auto;
       color: lightblue;
       }
       .movie>h3{
           display: none;
       }
    .Modal>div{
    display: block;
    margin: auto;
        } 

     .Modal>div>div{
        width: 90%;
        margin: auto;
     }   
     .Modal>div>img{
        width: 50%;
     }
}